
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>

    <body>
        <div id="root">
            firstname: <input type="text" v-model="firstname"> <br>
            lastname: <input type="text" v-model="lastname"> <br>
            fullname: <span>{{ fullName }}</span> <br>
        </div>
        <script type="text/javascript">
            Vue.config.productionTip = false
            const vm = new Vue({
                data(){
                    return {
                        firstname:'s',
                        lastname:'qy',
                        fullName:'s-qy',
                    }
                },
                // 计算属性有缓存效果 
                computed: {

                },
                //  watch 可以更好执行异步任务, 计算属性不能搞异步
                watch:{
                    firstname(val){
                        // 定时器函数一定要是 箭头函数
                        setTimeout(() => {
                           this.fullName = val + '-' + this.lastname 
                        }, 1000); 
                    },
                    lastname(val){
                        this.fullName = this.firstname + '-' + val
                    }
                }
                
            })
            vm.$mount('#root')
        </script>

    </body>

    </html>
