
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>

    <body>
        <div id="root">
            firstname: <input type="text" v-model="firstname"> <br>
            lastname: <input type="text" v-model="lastname"> <br>
            fullname: <span>{{ fullName }}</span> <br>
        </div>
        <script type="text/javascript">
            Vue.config.productionTip = false
            const vm = new Vue({
                data(){
                    return {
                        firstname:'s',
                        lastname:'qy',
                    }
                },
                // 计算属性有缓存效果 
                computed: {
                    // 计算属性 fullName 最终在 vm 上面就是一个属性,所以只要{{fullName}}
                    fullName:{
                        // 所依赖的属性改变才会调用get
                        get(){
                            // 这里面 vue 把 this 变为了 vm
                            return this.firstname + '-' + this.lastname
                        },
                        // set 在 fullName 被修改时调用
                        set(value){
                            console.log(value);
                            const arr = value.split('-')
                            this.firstname = arr[0]
                            this.lastname = arr[1]
                        }
                    }
                }
            })
            vm.$mount('#root')
        </script>

    </body>

    </html>
